header {
    text-align: center;
}

.sections {
    height: 100%;
    border: 2px solid;
    margin-right: 50px;
    text-align: center;
    font-size: 30px;
}

#task-sections {
    /*margin: 0 auto;*/
    justify-content: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
}

ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

li {
    margin-top: 10px;
}
